.container {
	width: 1900px;
	margin: 0 auto;
}
a {
	display: inline;
}
.inner-container {
	width: 970px;
	margin: 0 auto;
}

/*---------Main header section------------*/

.main-header {
	background: url(../img/main_header_bg.png);
	height: 750px;
	position: relative;
}
.header-top {
	width: 1170px;
	height: 100px;
    left: 50%;
    transform: translate( -50%);
    position: absolute;
    border-bottom: solid 1px #505369;
    display: block;
}
.header-content {
	position: relative;
	top: 40%;
}
.header-top img {
	float: left;
}
.header-top ul {
	float: right;
	text-transform: uppercase;
	position: relative;
}
.header-top li {
	display: inline-flex;
	padding-right: 62px;
}
.header-top li:last-child {
	padding-right: 0px;
}
.header-top a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.header-top-text {
	position: absolute;
	height: 370px;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 70px;
}
.header-top-text h1 {
	color: #fff;
	font-size: 65px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	line-height: 82px;
	text-transform: uppercase;
}
.header-top-text p {
	color: #fff;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	line-height: 38px;
	margin: 0 40px 0 40px;
} 
.find-out-more-button {
	position: absolute;
	text-decoration: none;
	color: #fff;
	width: 200px;
	border: round ;
	background: #e84545;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	line-height: 50px;
	left: 50%;
	transform: translate( -50%);
	margin-top: 50px;
}

/*---------Advantage List------------*/

.advantages-list {
	height: 695px;
	background: #fff;
	position: relative;
}
.advantages-text {
	height: 450px;
	width: 1085px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.advantages-text ul {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	position: relative;
	display: inline-flex;
	left: 50%;
	transform: translate(-50%);
}
.second-list {
	margin-bottom: 0
}
.advantages-text li{
	display: table-cell;
	float: left;
	width: 305px;
	text-align: center;
	margin: 0 45px 75px 45px;
}
.advantages-text h4 {
	font-weight: bold;
	padding: 25px 0 25px 0;
}
.advantages-text p {
	line-height: 18px;
}

/*---------Works Presentations------------*/

.works-presentation {
	position: relative;
	height: 700px;
	background: #fff;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}
.works-presentation ul {

}
.works-presentation li {
	float: left;
	display: flex;
}
.works-presentation li:first-child {
	width: 475px;
	height: 350px;
	background: url(../img/work_1_bg.png);
	
}
.works-presentation li:nth-child(2) {
	width: 475px;
	height: 350px;
	background: url(../img/work_2_bg.png);
} 
.works-presentation li:nth-child(3) {
	width: 475px;
	height: 350px;
	background: url(../img/work_3_bg.png);
}
.works-presentation li:nth-child(4) {
	width: 475px;
	height: 350px;
	background: url(../img/work_4_bg.png);
}
.second-list li:first-child {
	width: 475px;
	height: 350px;
	background: url(../img/work_5_bg.png);
}
.second-list li:nth-child(2) {
	width: 475px;
	height: 350px;
	background: url(../img/work_6_bg.png);
}
.second-list li:nth-child(3) {
	width: 475px;
	height: 350px;
	background: url(../img/work_7_bg.png);
}
.second-list li:nth-child(4) {
	width: 475px;
	height: 350px;
	background: url(../img/work_8_bg.png);
}

/*---------presentations hover on graphics--------------*/

.hover-text {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
}
.hover-text p {
	position: absolute;
	display: block;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 350px;
}
.hover-text a {
	width:100%;
    height:100%;
    text-decoration: none;
    transition: 0.5s ease-out;
}
.hover-text a p {
	display: none;
}
.hover-text a:hover p {
    display: block;
}
.hover-text a:hover {
	transition: 0.5s ease-in;
	background: rgba(0,0,0,.5);
}


/*---------Authors List------------*/

.authors-list {
	height: 785px;
	background: #fff;
}

/*---------Clients------------*/

.clients {
	height: 500px;
	position: relative;
	background: #53354a;
}
.clients-first-part {
	width: 950px;
	background: url(../img/clients_bg.png);
	height: 500px;
	position: absolute;
	float: left;
}

/*---------Download Info------------*/

.download-info {
	height: 350px;
	background: #fff;
}

/*---------Information Division------------*/

.information-division {
	height: 250px;
	background: #3a3e64;
}

/*---------Footer------------*/

.footer {
	height: 95px;
	background: #313454;
}